<!DOCTYPE html>
<html lang="en" class="no-js">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andrew Haupt Portfolio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/styles.css">
    <!--endbuild-->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/ca89231ab4.js"></script>
  </head>

  <body>
    <section class="main" id="app" :class="{ 'filter-view-open': filterDialogOpen, 'loaded': loaded }" @click="closeActiveFilter($event)">
      <header :class="{ 'on-page': loaded }">
        <div class="logo pulse-button" @click="setActiveProject($event, null, true)">
          <svg viewBox="82.5 39.5 157 187">
            <g fill="none" stroke="#000" stroke-width="13" stroke-miterlimit="10">
              <path stroke-linecap="square" d="M146.771 166.334c.015-13.863 3.82-28.028.43-41.77-3.73-15.116-18.676-20.86-32.872-16.259-13.882 4.5-25.597 20.931-18.915 35.691 3.364 7.434 12.636 10.033 19.998 11.291 8.779 1.499 18.273 1.721 27.12.828 19.086-1.926 33.364-16.935 43.071-32.444 8.119-12.973 13.121-27.653 14.986-42.827 1.396-11.345.76-26.306-11.804-31.026-5.109-1.92-11.957-2.55-16.65.765-3.959 2.797-5.515 7.735-6.146 12.326-1.598 11.613 1.224 24.004 3.664 35.315 2.39 11.067 4.975 22.107 6.761 33.295 2.344 14.691 1.665 22.206.19 33.889-.481 3.811-2.771 17.426-9.521 27.426" />
              <path d="M164.958 196.084c2.72-4.066 6.61-7.123 10.578-9.896 4.415-3.088 8.921-6.071 13.507-8.898 5.92-3.648 12.137-6.745 19.125-7.578 3.818-.456 8.809.258 11.273 3.482 5.098 6.668 3.188 16.373 2.888 24.097-.192 4.897.041 11.632 3.487 15.49 2.431 2.719 6.209 3.961 9.517 5.223" />
            </g>
          </svg>
        </div>
      </header>
      <div class="content" id="content" :class="{ 'on-page': loaded }">
        <div v-if="activeProject" id="active-project" key="activeProject.name">
          <div class="_title-wrap">
            <div class="_type">{{ activeProject.type }}</div>
            <h1 class="_title">{{ activeProject.name }}</h1>
            <div class="_subtitle">{{ makeSubtitle(activeProject.tech) }}</div>
          </div>
          <div class="divider"></div>
          <div class="_description" v-html="activeProject.description"></div>
          <div class="_link" v-if="activeProject.url">
            Check it out <a :href="activeProject.url" target="_blank">here!</a>
          </div>
          <div class="_link" v-else></div>
        </div>
      </div>
      <transition name="hover-title">
        <div v-if="hoverTitle" class="hover-title" :style="hoverStyles">{{ hoverTitle }}</div>
      </transition>
      <transition name="filter-monitor">
        <div class="filter-monitor" v-if="filterSetting.val" :style="{ background: stringifyColor(activeColor) }">
          <div>Filtering by {{ filterSetting.name }} - {{ filterSetting.val }}</div>
          <div class="close-button pulse-button" @click="resetFilters()">
            <svg fill="rgba(255,255,255,0.75)" height="20" viewBox="0 0 24 24" width="20">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
              <path d="M0 0h24v24H0z" fill="none" />
            </svg>
          </div>
        </div>
      </transition>
      <div class="projects" id="projects" :class="{ 'on-page': loaded }">
        <transition-group name="tile" tag="div" class="track">
          <div class="tile" v-for="(project, i) in renderedProjects" :key="project.name" :data-index="i" @mouseover="toggleHover($event, project, true)" @mouseleave="toggleHover($event, project)" @click="setActiveProject($event,project)">
            <div class="_hover-overlay" :style="project.hoverStyles"></div>
            <div class="_outer" :style="{ background: stringifyColor(project.primaryColor) }">
              <div class="_wrap">
                <div class="_inner" :style="getBackgroundStyles(project)"></div>
              </div>
            </div>
          </div>
        </transition-group>
      </div>
      <nav class="menu-buttons" :class="{ 'on-page': loaded }">
        <div class="_item pulse-button" :style="{ background: stringifyColor(activeColor) }" @click="setActiveProject($event, null, true)">
          <i class="fa fa-user"></i>
          <span>About Me</span>
        </div>
        <div class="_item pulse-button" :class="{visible: showFilters}" :style="{ background: altColor }" @click="toggleFilterOpts($event)">
          <i class="fa fa-sliders"></i>
          <span>Filters</span>
        </div>
        <transition name="filter-types">
          <div v-if="showFilters" class="_types">
            <article v-for="(filter, key) in filters" @click.stop="setActiveFilter(key)" :style="{ background: altColor }">{{ filter.name }}
            </article>
          </div>
        </transition>
      </nav>
      <transition name="filter-view">
        <div v-if="filterDialogOpen" class="filter-view" :style="{ background: stringifyColor(activeColor, 0.95) }">
          <div class="close-button" @click="closeActiveFilter()">
            <svg fill="rgba(255,255,255,0.75)" height="36" viewBox="0 0 24 24" width="36">
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
              <path d="M0 0h24v24H0z" fill="none" />
            </svg>
          </div>
          <div class="_content" v-if="filterDialogType">
            <div class="_title">{{ filters[filterDialogType].name }}</div>
            <div class="divider -white"></div>
            <div class="_options">
              <div v-for="option in filters[filterDialogType].options" @click="setFilter(filterDialogType,option,filters[filterDialogType].name)">
                {{ option }}
              </div>
            </div>
          </div>
        </div>
      </transition>
      <div class="dimming-cell"></div>
      <menu class="menu" :class="{ 'on-page': loaded }">
        <article>
          <a href="https://www.facebook.com/andrew.haupt.7" target="_blank">
            <i class="fa fa-facebook"></i><span>Facebook</span>
          </a>
        </article>
        <article>
          <a href="https://github.com/ajhaupt7" target="_blank">
            <i class="fa fa-github"></i><span>Github</span>
          </a>
        </article>
        <article>
          <a href="https://www.linkedin.com/in/andrewhaupt2015/" target="_blank">
            <i class="fa fa-linkedin"></i><span>LinkedIn</span>
          </a>
        </article>
        <article>
          <a href="MAILTO:ajhaupt7@gmail.com" target="_blank">
            <i class="fa fa-envelope"></i><span>Email</span>
          </a>
        </article>
      </menu>
    </section>
    <!--build:js js/main.min.js -->
    <script src="js/vue.prod.js"></script>
    <script src="js/projects.js"></script>
    <script src="js/main.js"></script>
    <!-- endbuild -->
  </body>

</html>
